<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="img/logo1.png" class="logo" alt="two secondz logo">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">List</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/productlist?page=0">Product List</a>
                        <a href="/admin/userlist?page=0">Users Lists</a>
                        <a href="/admin/categorylist">Category Lists</a>
                        <!-- <a href="/admin/couponlist">Coupon Lists</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add-ons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/product">Add Product</a>
                        <a href="/admin/category">Add Category</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orderlist?page=0">Order list </a>
                      
                    </div>
                </li>
              
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addcoupon">Add Copons</a>
                        <a href="/admin/couponlist">Copon List</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Banner</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addbanner">Add Banner</a>
                        <a href="/admin/bannerlist">Banner List</a>
                    </div>
                </li>
              
                <li class="menu-item">
                    <a class="menu-link" href="/admin/loadsales-report?page=0"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
               
            </ul>
           
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                    <p style="color: rgb(232, 71, 71)" ><%=(typeof msg!=='undefined' )?msg:""%></p>

                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="/admin/editproduct?id=<%=product[0]._id  %>" method="post" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_name" name="product_name" value="<%= product[0].product_name %>" oninput="validateInput(this)" required>
                                    <p id="product_name_error" style="color: red;"></p>

                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"  required><%= product[0].description  %></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="₹" type="text" class="form-control" name="og_price" id="og_price" value="<%= product[0].og_price  %>" oninput="validateInput(this)" required>
                                                <p id="og_price_error" style="color: red;"></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Offer price</label>
                                            <input placeholder="₹" type="text" class="form-control" name="offer_price" id="offer_price" value="<%= product[0].offer_price  %>" oninput="validateInput(this)" required>
                                            <p id="offer_price_error" style="color: red;"></p>

                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input type="number" placeholder="count" class="form-control" id="stock" name="stock" value="<%= product[0].stock %>" oninput="validateInput(this)" required>
                                    <p id="stock_error" style="color: red;"></p>

                                </div>
                            </div>

                            <div class="col-lg-9">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Images</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <% for(let i=0;i<product[0].image.length;i++){ %>
                                            <img src="admin-assets/uploads/<%= product[0].image[i] %>" alt="">
                                            <a href="/admin/imagedelete?image_id=<%=product[0].image[i] %>&id=<%= product[0]._id  %>" class="btn btn-sm font-sm rounded btn-brand me-2">
                                            <i class="material-icons md-delete"></i> Delete
                                              </a>
                                              <br>

                                            <% } %>
                                           
                                            <input class="form-control" type="file" name="image" value="<%=product[0].image %>"  multiple >

                                        </div>
                                    </div>
                                </div> <!-- card end// -->
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Category</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row gx-2">
                                            <div class="col-sm-6 mb-3">
                                                <label class="form-label" >Category</label>
                                                <select class="form-select" name="category" required>
                                                    <% for (let i=0;i<category.length;i++){ %>
                                                    <option> <%= category[i].category_name %> </option>
                                                    <% } %>
                                                  
                                                </select>
                                            </div>
                                           

                            <div>
                                <button class="btn btn-md rounded font-sm hover-up" onclick="return validation()" type="submit">Update Product</button>
                            </div>     
                            </form>
                        </div>
                    </div> <!-- card end// -->

                   
                </div>

                </div> <!-- row.// -->
          
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, TWO SECONDZ .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script>
        function validateInput(input) {
            if (input.value.trim() === '') {
                input.setCustomValidity("Please enter a valid value.");
            } else {
                input.setCustomValidity('');
            }
        }
        function validation() {
            // Clear previous error messages
            document.getElementById('product_name_error').textContent = '';
            document.getElementById('stock_error').textContent = '';
            document.getElementById('og_price_error').textContent = '';
            document.getElementById('offer_price_error').textContent = '';
            // document.getElementById('image1_error').textContent = '';
            let product_name = document.getElementById('product_name').value;
            let stock = document.getElementById('stock').value;
            let og_price = document.getElementById('og_price').value;
            let offer_price = document.getElementById('offer_price').value;
            // let image1 = document.querySelector('input[name="image1"]').files;

            let isValid = true;

            if (product_name.trim() === '' || product_name.length<3) {
                document.getElementById('product_name_error').textContent = 'Product Name is required';
                isValid = false;
            }
            if (stock < 0 || stock.trim() === '') {
                document.getElementById('stock_error').textContent = 'Stock is not valid';
                isValid = false;
            }
            if (og_price <= 0) {
                document.getElementById('og_price_error').textContent = 'Please enter valid price';
                isValid = false;
            }
            if (offer_price <= 0 || offer_price > og_price) {
                document.getElementById('offer_price_error').textContent = 'Give valid price';
                isValid = false;
            }
//             if (image1.length === 0) {
//     document.getElementById('image1_error').textContent = 'Please select an image';
//     isValid = false;
//   }

            if (isValid) {
                return true;  // Allow form submission
            }
            return false;
        }

    </script>

    <script>
        function validateInput(input) {
          if (input.value.trim() === '') {
            input.setCustomValidity("Please enter a valid value.");
          } else {
            input.setCustomValidity('');
          }
        }
      </script>


    <script src="admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="admin-assets/js/vendors/select2.min.js"></script>
    <script src="admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>