<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
 

    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="brand-container me-3">
				<a class="navbar-brand" href="/homepage"
					style="font-size: 30px;font-weight: 600;font-family: 'Kanit', sans-serif;">TWO SECONDZ</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse align-items-center justify-content-end" id="navbarSupportedContent">
				<div class="category-container pe-4">
					<ul class="navbar-nav mb-2 mb-lg-0 text-center">
						<li class="nav-item">
							<a class="nav-link me-lg-1" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link  me-lg-1" href="/shop" id="navbarDropdown" role="button">Shop</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  me-lg-1" href="/contact" id="navbarDropdown" role="button">Contact
								Us</a>
						</li>
					</ul>
				</div>
				
					</form>
				
				</div>
			</div>
		</div>
	</nav>
     <!-- header end -->

      <div class="container mt-3 mb-3">
        <div class="col d-flex justify-content-between">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <!-- Add breadcrumb navigation if needed -->
            </nav>
            <div class="btn-container">
                <% if (user.address.length < 2) {%>
                <a href="/addaddress" class="btn btn-success">Add Address</a>
                <% } %>
            </div>
        </div>
        <p style="color: rgb(41, 101, 41);" class="text-muted small">
            <%=(typeof message!=='undefined' )?message:""%>
        </p>
        <div class="row">
            <% if (user.address.length === 0) {%>
            <p class="text-muted">You haven't added any address yet...</p>
            <% } else {%>
            <% for(let i=0; i < user.address.length; i++) { %>
            <div class="col-md-6 mt-3 mt-lg-0 mt-md-0">
                <div class="card bg-pay">
                    <div class="card-body">
                        <h5 class="card-title">Address <%= i+1 %></h5>
                        <hr>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">Name:</span>
                            <span><%= user.address[i].name %></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">Mobile:</span>
                            <span><%= user.address[i].mobile %></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">Pincode:</span>
                            <span><%= user.address[i].postcode %></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">Locality:</span>
                            <span><%= user.address[i].homeaddress %></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">City/Town:</span>
                            <span><%= user.address[i].city %></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">State:</span>
                            <span><%= user.address[i].state %></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="fw-500">Address:</span>
                            <span><%= user.address[i].address %></span>
                        </div>
                        <div class="d-flex mt-2">
                            <a href="/editaddress?id=<%= user.address[i].id %>" class="btn btn-primary" style="margin-top: 20px;" >Edit</a>
                            <a href="/deleteaddress?id=<%= user.address[i].id %>" class="btn btn-danger ml-2" style="margin-left: 20px; margin-top: 20px;">Remove Address</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    


      
   
</body>
</html>