<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TWO SECONDZ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.js" integrity="sha512-MnKz2SbnWiXJ/e0lSfSzjaz9JjJXQNb2iykcZkEY2WOzgJIWVqJBFIIPidlCjak0iTH2bt2u1fHQ4pvKvBYy6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css" integrity="sha512-UiKdzM5DL+I+2YFxK+7TDedVyVm7HMp/bN85NeWMJNYortoll+Nd6PU9ZDrZiaOsdarOyk9egQm6LOJZi36L2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js" integrity="sha512-79j1YQOJuI8mLseq9icSQKT6bLlLtWknKwj1OpJZMdPt2pFBry3vQTt+NZuJw7NSd1pHhZlu0s12Ngqfa371EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>


<body>

      <!-- Offcanvas Menu Begin -->
      <div class="offcanvas-menu-overlay"></div>
      <div class="offcanvas-menu-wrapper">
          <div class="offcanvas__option">
              <div class="offcanvas__links">
                  <a href="/userprofile" ><i class="fa fa-user fa-lg" style="color: #000000;"></i>User</a> 
              </div>
             
          </div>
          <div class="offcanvas__nav__option">
              <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
              <a href="/loadcat"><img src="img/icon/cart.png" alt=""> <span></span></a>
          </div>
          <div id="mobile-menu-wrap"></div>
          <div class="offcanvas__text">
              <p>Free shipping, 30-day return or refund guarantee.</p>
          </div>
      </div>
      <!-- Offcanvas Menu End -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                               <a href="/userprofile" ><i class="fa fa-user fa-lg" style="color: #ffffff;"></i>User</a> 
                    
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop?page=0">Shop</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contacts</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <a href=""><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <% if(cart === null || cart.cart_items.length === 0) { %>
                          
                              <div class="container">
                                <div class="row mt-5">
                                    <div class="col-lg-12 offset-md-3 text-center">
                                        <div class="img-container d-flex justify-content-center">
                                            <img src="https://www.labsolutions-eg.com/resources/assets/front/images/cartempty.png" alt=""
                                                 class="img-fluid" style="max-width: 100%;" width="300px" height="300px">
                                        </div>
                                        <p class="text-muted mt-3">You don't have any items in the cart. Shop Now.</p>
                                        <div class="no-item">
                                            <a href="/shop"><button type="button" class="btn btn-success">Shop Now</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            <% }else{ %>
                        <table class="responsive-table ">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>details</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                                <% cart.cart_items.forEach(item=> { %>
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img class="img1" src="admin-assets/uploads/<%= item.image %>" alt="">
                                            </div>
                                            
                                        </td>
                                        <td>
                                            <div class="product__cart__item__text">
                                                <h6><%= item.product_name %></h6>
                                                <h5>₹<%= item.offer_price %></h5>
    
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="product__cart__item__text">
                                                <button class="quantity-button" onclick="decreaseQuantity('<%= item.product_id %>',-1)">-</button>
                                                <input type="text" id="<%= item.product_id %>" class="quantity-input" value="<%= item.quantity %>">
                                               
                                                <button class="quantity-button" onclick="increaseQuantity('<%=item.product_id %>',1)">+</button>
    
                                            </div>
                                              
                                            </td> 
                                            <% let price = item.quantity*item.offer_price %>
                                        <!-- <td class="cart__price"><%= price %></td> -->
                                       <td> <span id="a-<%=item.product_id%>">₹ <%= price%></span></td>
                                        <td class="cart__close"  ><button onclick="deleteProduct('<%= item.product_id%>')" class="fa fa-trash" style="margin-left: 10px; border: none;"></button>
                                    </tr>
                                    <% }); %>


                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="/shop"><i class="fa fa-spinner"></i> Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                  
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                          
                                <b % let total=0; %>
                                    <!-- <% cart.cart_items.forEach(item=> { %>
                                      <% let price=item.offer_price * item.quantity; %>
                                        <li
                                          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                          <%=item.product_name%>
                                            <span id="a-<%=item.product_id%>">₹ <%= price%></span>
                                            <% total += item.offer_price * item.quantity%>
                                        </li>
                                        <% }); %>
                                        <hr> -->
                            <li>SubTotal <span  id="Subtotal">₹ <%= total%></span></li>     
                        </ul>
                        <a  onclick="stockcheck()"  class="primary-btn">PROCEED TO SHIPPING</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="img/logo1.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Special Collections</a></li>
                            <li><a href="#">Luxury Timepieces</a></li>
                            <li><a href="#">Men's Watches</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script>
    
        function stockcheck(){
            $.ajax({
                url:'/stock-check',
                method:"POST",
                success:(response)=>{
                    if(response.status == true){
                    Toastify({
                    text: "Product is Out Of Stock",
                    className: "info",
                    style: {
                        background:  "linear-gradient(to right, #ff0000, #ff0000)",
                    }
                    }).showToast();
                    }else{
                        location.href='/checkout'
                    }
                    
                }
            }) 

        }


        function updateQuantity(quantity, productId) {
      $.ajax({
        type: "POST",
        url: "/changeqnty/" + productId, // Point to your Node.js server route
        data: { quantity: quantity },
        success: function (response) {
          if (response.status == true) {
            $("#" + productId).val(quantity);
            const updatedPriceElement = document.querySelector(
              `#a-${productId}`
            )
            const newprise = response.totalPrice;
            updatedPriceElement.innerHTML = '₹' + newprise;

            // cartTotal making it visible
            const cartarea = document.querySelector("#Subtotal");
            const newcarttotal = response.cartTotal;
            console.log(newcarttotal);
            cartarea.innerHTML = newcarttotal;



            console.log("Quantity updated successfully!");
          }
          else {
            Toastify({
              text: "Product is Out Of Stock",
              className: "info",
              style: {
                background: "linear-gradient(to right, #020024, #ff0000)",
              }
            }).showToast();
            console.log("Quantity updated successfully!");
          }
          // Handle the response from the server (if needed)
        },
        error: function (xhr, status, error) {
          // Handle errors (if any)
          console.error("Error updating quantity:", error);
        },
      });

    }


    function increaseQuantity(productId) {
      var quantityInput = $(`#${productId}`);
      var newQuantity = parseInt(quantityInput.val()) + 1;
      updateQuantity(newQuantity, productId);
    }

    function decreaseQuantity(productId) {
      var quantityInput = $(`#${productId}`);
      var newQuantity = parseInt(quantityInput.val()) - 1;
      if (newQuantity > 0) {
        quantityInput.val(newQuantity);
        updateQuantity(newQuantity, productId);
      }
    }

    function getSubtotalValue() {
      const subtotalElement = document.getElementById('Subtotal');
      return subtotalElement.textContent.trim();
    }
 

  

    function deleteProduct(id) {
      $.ajax({
        url: '/delete-cart-item?id=' + id,
        method: 'delete',
        success: (response) => {
          if (response.status === true) {
            Swal.fire({
              icon: 'success',
              title: 'Product removed from cart',
              showConfirmButton: false,
              timer: 1500
            }).then(()=> {
              location.href = "/loadcat"
            })
          }
        }
      })
    }

    </script>



</body>

</html>
